body {
    background-color: rgba(100, 100, 100, 0.548);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}

h1{
    color: #b83333;



}
a h2 {
    color: rgb(6, 9, 10);
    transition: 0.3s;
}

a h2:hover {
    color: #225577;
    text-decoration: underline;
}
