.block1{

    height: 280px   ;
    width: 92%;
    margin-left: 25px;
    
}
.block2{
    height: 250px;
    width: 90%;
    margin-left: 15px;
    padding: 20px;
}
.block3{
    height: 230px;
    width: 90%;
    margin-left: 20px;
    padding: 20px;
}
.b1_2{ 
   
    height: 2px;
    width: 10%;
    margin-left: 10px;
    font-family: arial , sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    
}
.b1{ 
    height: 220px;
    width: 40%;
    margin-left: 10px;
    text-align: center;
    font-family: arial , sans-serif;
    font-size: 20px;
       padding: 20px;
    float: right;
}
.b2{
    height: 10%;
    width: 90%;
    margin-left: 20px;
    text-align: center;
    font-family: arial , sans-serif;
    font-size: 50px;
}
.b2_2{
       
        font-size: 20px;
        margin-left: 20px;
        height: 80%;
        width: 90%;
        text-align: center;
        font-family: arial , sans-serif;
        color: black;
        

      }
.b3{
    
    height: 130px;
    width: 20%;
    margin-left: 10px;
    font-family: arial , sans-serif;
    text-align: center;
    font-size: 20px;
       padding: 20px;
    float: left;
    
}
.b3_1{
    
    height: 130px;
    width: 30%;
    margin-left: 10px;
    text-align: left;
    font-family: arial , sans-serif;
    font-size: 20px;
       padding: 20px;
    float: right;
}
.b4{
   
    height: 140px;
    width: 20%;
    margin-left: 10px;
    font-family: arial , sans-serif;
    text-align: center;
    font-size: 20px;
       padding: 20px;
    float: left;
}
.b4_1{
    
    height: 140px;
    width: 70%;
    margin-left: 10px;
    text-align: left;
    font-family: arial , sans-serif;
    font-size: 20px;
       padding: 20px;
    float: right;
        
}

 .Principal{
    border: 3px solid black;
    height: 100%;
    width: 100%;
 }
 button {
    background-color: black;
    color: white;
    padding: 8px 10px;
    margin: 10px;
    border: none;
    border-radius: 35px;
    font-size: 1em;
    cursor: pointer;
    transition: backround-color 0.3 ease, box-shadow 0.3 ease ;
    box-shadow: 0 4px rgba(0, 0, 0, 1);
 }