

body {
    font-family: Arial, sans-serif;
    background-color:bi;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: right;
    color:red;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

form {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 3px solid #eee;
}

 .question{
     margin-bottom: 20px;
        padding: 15px;
        border-left: 5px;
    }

h2 {
    color: #111111;
    font-size: 1.1em;
}

.choix label {
    margin-left: 5px;
    cursor: pointer;
}

.controle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.controle button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}




#resultat {
    text-align: center;
    padding: 15px;
    
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}